.page__block_size_middle {
  box-sizing: content-box;
}

@media (min-width : 520px) {

  .page__block_size_middle {
    margin-left: 22px;
    margin-right: 22px;
  }

}

@media (min-width : 768px) {

  .page__block_size_middle {
    margin: 0;
    padding: 0;
  }

}


@media (min-width : 928px) {

  .page__block_size_middle {
    margin: 0 auto;
  }

}