.page__block_size_max {
  margin: 0 16px;
}

@media (min-width : 384px) {
  .page__block_size_max {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width : 520px) {
  .page__block_size_max {
    margin-left: 22px;
    margin-right: 22px;
  }
}

@media (min-width : 768px) {
  .page__block_size_max {
    margin-left: 24px;
    margin-right: 24px;
  }
}
