.lead__indent {
  margin: 0 16px;
}

@media (min-width : 384px) {
  .lead__indent {
    margin: 0 20px;
  }
}

@media (min-width : 520px) {
  .lead__indent {
    margin: 0 22px;
  }
}

@media (min-width : 768px) {
  .lead__indent {
    margin: 0 24px;
  }
}