.intro__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

@media (min-width : 552px) {

  .intro__title {
    font-size: 41px;
    line-height: 44px;
  }  

}

@media (min-width : 768px) {

  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }  
  
}

