@import "src/styles/variables";
@import "src/styles/mixins";
.cover {
  margin-top: 66px;
  min-height: 200px;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: stretch;

  background-image: url(../../../src/images/cover_train.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 415px) {
    min-height: 300px;
  }
  @media (min-width: $width-m) {
    min-height: 395px;
  }
  @media (min-width: $width-l) {
    min-height: 480px;
    margin-top: 90px;
  }
  @media (min-width: $width-xxl) {
    min-height: 640px;
    margin-top: 92px;
  }
  @media (min-width: $width-xxxl) {
    min-height: 740px;
    margin-left: 48px;
    margin-right: 48px;
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    z-index: 100;
    text-align: center;

    @media (min-width: 415px) {
      font-size: 40px;
      line-height: 42px;
    }

    @media (min-width: $width-m) {
      font-size: 59px;
      line-height: 63px;
    }

    @media (min-width: $width-l) {
      max-width: 560px;
      font-size: 72px;
      line-height: 76px;
    }

  }

  &__subtitle {
    width: 288px;
    margin: 16px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    z-index: 2;
    text-align: center;

    @media (min-width: $width-m) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (min-width: $width-l) {
      margin: 32px 0 0 0;
      font-size: 18px;
      line-height: 22px;
      min-width: 366px;
    }
  }

  &__link {
    color: $white;
    text-decoration-line: none;
    @include flex(column, center, center);
    width: 100%;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $cover;
      opacity: .3;
      z-index: 1;
      transition: $animation;
    }
    &:hover::before {
      opacity: .8;
      transition: $animation;
    }
  }
}