.place__website {
  grid-area: website;
  list-style-type: none;
  margin: 0;
  padding: 32px 0 0 0;
}

@media (min-width: 768px) {
  .place__website {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .place__website {
    align-self: end;
  }
}