.place__website {
  margin: 0 16px;
  grid-area: website;
  list-style-type: none;
  padding: 32px 0 0 0;
}

@media (min-width : 384px) {

  .place__website {
    margin: 0 20px;
  }

}

@media (min-width : 520px) {

  .place__website {
    margin: 0;
  }
  
}

@media (min-width: 768px) {
  .place__website {
    padding-top: 0;
    align-self: end;
  }
}
