.place {

}

@media (min-width : 768px) {
  .place  {
    display: grid;
    grid-template-areas: "title website" "image text";
    grid-template-columns: repeat(auto-fill, minmax(340px, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 48px 28px;
  }
}

@media (min-width : 1024px) {
  .place  {
    gap: 48px 32px;
  }
}

@media (min-width : 1180px) {
  .place  {
    grid-template-columns: repeat(auto-fill, minmax(440px, max-content));
    gap: 48px 37px;
  }
}

@media (min-width : 1280px) {
  .place  {
    gap: 48px 40px;
  }
}