.header__logo {
  width: 142px;
  height: 42px;
  background-image: url(../../../../src/images/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width : 520px) {

  .header__logo {
    width: 156px;
    height: 46px;
  }  

}

@media (min-width : 768px) {

  .header__logo {
    width: 176px;
    height: 52px;
  }
    
}