.footer {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 334px;
}

@media (min-width: 768px) {

  .footer {
    padding-top: 78px;
    padding-bottom: 24px;
    flex-direction: row;
    min-height: 0;
  }
  
}

@media (min-width: 1024px) {

  .footer {
    padding-top: 92px;
  }

}
