@import "./variables.scss";

// миксин для флексов
@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
// ссылки
@mixin link($type: a) {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font: $font-size-xs;
  color: $white;
  opacity: $opacity-start;

  @if $type == a {
    text-decoration-line: underline;
  }

  @if $type == button {
    all: unset;
    cursor: pointer;
  }

  @media (min-width : $width-m) {
    font: $font-size-m;
  }

  @media (min-width : $width-l) {
    font: $font-size-l;
  }

  &:hover {
    opacity: $opacity-finish;
    transition: $animation;
  }
}

//главный шрифт для h1
@mixin main-text {
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: $white;

  @media (min-width : $width-s) {
    font-size: 64px;
    line-height: 67px;
  }

  @media (min-width : $width-l) {
    font-size: 96px;
    line-height: 100px;
  }

}