//шрифт
$font: 'Inter', Arial, sans-serif;
// цвета
$dark-grey: #2a2c2f;
$white: #fff;
// темы
$background-dark-theme: $dark-grey;
$background-light-theme: $white;
//ширина экрана
$width-xs: 384px;
$width-s: 490px;
$width-m: 520px;
$width-l: 768px;
//$width-m: 1024px;
//$width-l: 1300px;
//$width-xl: 1512px;