//шрифт
$font: 'Inter', Arial;
$font-size-xxs: 16px/20px sans-serif;
$font-size-xs: 18px/20px sans-serif;
$font-size-s: 18px/22px sans-serif;
$font-size-m: 22px/24px sans-serif;
$font-size-l: 24px/28px sans-serif;

$title-size-m: 40px/44px sans-serif;
$title-size-l: 64px/67px sans-serif;
$title-size-xxl: 96px/100px sans-serif;
// цвета
$dark-grey: #2a2c2f;
$white: #fff;
$grey: #aaa;
$cover: #2A2C2F;
// темы
$background-dark-theme: $dark-grey;
$background-light-theme: $white;
//ширина экрана
$width-xs: 384px;
$width-s: 490px;
$width-m: 520px;
$width-l: 768px;
$width-xl: 928px;
$width-xxl: 1024px;
$width-xxxl: 1280px;
//анимация
$animation: opacity .8s ease-in-out;
$animation-image: all .8s ease-in-out;
$opacity-start: 1;
$opacity-finish: .5;