.lead__image {
  width: 100%;
  padding: 40px 0 0 0;
}

@media (min-width : 520px) {

  .lead__image {
    padding-top: 48px;
  }  

}

@media (min-width : 768px) {

  .lead__image {
    padding-top: 56px;
  }  

}

@media (min-width : 1280px) {

  .lead__image {
    padding-top: 64px;
  }  
  
}