.footer__menu-item {
  list-style-type: none;
  margin-top: 32px;
}

.footer__menu-item:first-of-type {
  margin-top: 0;
}

@media (min-width: 768px) {

  .footer__menu-item {
    margin-top: 0;
  }
  
}