.header {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width : 384px) {
  .header {
    padding-top: 22px; }  
}

@media (min-width : 520px) {
  .header {
    padding-top: 25px; }  
}