.place__description {
  margin: 0 16px;
  padding: 32px 0 0 0;
  grid-area: text;
}

@media (min-width : 384px) {

  .place__description {
    margin: 0 20px;
  }

}

@media (min-width : 520px) {

  .place__description {
    margin: 0;
  }
  
}

@media (min-width: 768px) {
  .place__description{
    padding-top: 0;
    margin: 0;
  }
}