.intro {
  padding-top: 64px;
  max-width: calc(100% - 32px);
}


@media (min-width : 520px) {

  .intro {
    padding-top: 76px;
    max-width: calc(100% - 40px);
  }  

}

@media (min-width : 768px) {

  .intro {
    padding-top: 88px;
    max-width: calc(100% - 48px);
  }  

}

@media (min-width : 1024px) {

  .intro {
    padding-top: 92px;
    max-width: 928px;
  }  

}

@media (min-width : 1280px) {

  .intro {
    padding-top: 92px;
    max-width: 984px;
  }  

}