.intro {
  padding-top: 64px;
  max-width: 288px;
}

@media (min-width : 520px) {

  .intro {
    padding-top: 76px;
    max-width: 488px;
  }  

}

@media (min-width : 768px) {

  .intro {
    padding-top: 88px;
    max-width: 729px;
  }  

}

@media (min-width : 1024px) {

  .intro {
    padding-top: 92px;
    max-width: 690px;
  }  

}