.header__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-decoration-line: none;
}

@media (min-width : 520px) {
  .header__link {
    font-size: 22px;
    ine-height: 24px; }  
}

@media (min-width : 768px) {
  .header__link {
    font-size: 24px;
    ine-height: 28px; }  
}
