
.cover {
  display: flex;
  /* flex-direction: column; */
  align-items: stretch;
  position: relative;
  background-image: url(../../../images/cover_train.jpeg);
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

@media (min-width: 415px) {

  .cover  {
    min-height: 300px;
  }

}

@media (min-width: 520px) {

  .cover {
    min-height: 395px;
  }

}

@media (min-width: 768px) {

  .cover {
    min-height: 480px;
    margin-top: 90px;
  }

}

@media (min-width: 1024px) {

  .cover {
    min-height: 640px;
    margin-top: 92px;
  }

}

@media (min-width: 1280px) {

  .cover {
    min-height: 740px;
    margin-left: 48px;
    margin-right: 48px;
  }
  
}