.cover {
  padding: 66px 0 0 0; 
}
.cover:hover .cover__overlay {
  opacity: .8;
  transition: opacity .8s ease-in-out;
}

@media (min-width: 768px) {
  .cover {
    padding-top: 90px;
  }
}

@media (min-width: 1024px) {
  .cover {
    padding-top: 92px;
  }
}

@media (min-width: 1280px) {
  .cover {
    padding-left: 48px;
    padding-right: 48px;
  }
}